    #butao{
        height: 20px;
        width: fit-content;
    }
    #rotador{
        border: 1px solid black;
        width: fit-content;
    }

    #velocidade, #brvelocidade{
        display: none;
    }

    #ligar{
        display: none;
        margin-left: 20px;
    }

    #lligar{
        display: none;
    }

    #brligar{
        display: none;
    }

    #inputEscalarAmbos{
        display: none;
    }

    #brEscalarAmbos{
        display: none;
    }
